<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--    import google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!--    -->
  <link rel="stylesheet" href="../static/styles/all.min.css">
  <link rel="stylesheet" href="../static/styles/bootstrap-grid.css">
  <link rel="stylesheet" href="../static/styles/style.css">


  <title>Equalizer</title>

</head>

<body>

  <div class="container">

    <div id="original"></div>
    <div class="visuals">
      <div class="input col-1"><input type="range" id = "zoom-slider" class="ranger zoom row" title="zoom" name="" value=1 min="1" max="200" oninput="" /> <output></output></div>
      <div id="minimap2"></div>
      <div id="waveform"></div>
      <div id="wave-spectrogram"></div>
      <div id="minimap"></div>
      
      <button class="accordion">View Spectogram</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>
    </div>

    <form method="post" name="change_mode" id="change_mode" enctype=multipart/form-data>
      <div class="formats">




        <div class="radios">
          {% if mode == 'uniform' %}
          <input type="radio" id="uniform" name="Mode" value="uniform" checked="checked">
          {%else%}
          <input type="radio" id="uniform" name="Mode" value="uniform">
          {%endif%}
          <label for="uniform">Uniform</label><br>

          {% if mode == 'musical' %}
          <input type="radio" id="musical" name="Mode" value="musical" checked="checked">
          {%else%}
          <input type="radio" id="musical" name="Mode" value="musical">
          {%endif%}
          <label for="musical">Musical</label><br>

          {% if mode == 'vocal' %}
          <input type="radio" id="vocal" name="Mode" value="vocal" checked="checked">
          {%else%}
          <input type="radio" id="vocal" name="Mode" value="vocal">
          {%endif%}
          <label for="vocal">Vocal</label><br>


          {% if mode == 'ECG'%}
          <input type="radio" id="ECG" name="Mode" value="ECG" checked="checked">
          {%else%}
          <input type="radio" id="ECG" name="Mode" value="ECG">
          {%endif%}
          <label for="ECG">ECG</label>

          <div class="buttons">
            <button type="submit" name="submit"  value="submit" class="sin btn btn-primary" onclick="run();">
              <span>Submit</span>
            </button>
          </div>
        </div>



        <div class="sliders row card" id="sliders"></div>
      </div>
    </form>
  </div>
  </div>
  <div class="footer">
    <div class="container">


      <div class="fileUpload">
        <form method="post" enctype=multipart/form-data>
          <input type="file" id="file" name=file>
          <button type="submit" name="upload" value="upload" class="upload-button">Upload</button>
        </form>
      </div>


      <button class="btn btn-primary" onclick="run()">
        <i class="glyphicon glyphicon-play"></i>
        Play/Pause
      </button>
    </div>
  </div>
</body>
<!--Jquery Cdn -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="../static/script/main.js"></script>

<script type="text/javascript">
  

        //make an ajax call and get status value using the same 'id'
        $(document).on('click', '#slider', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: 'http://127.0.0.1:5000/',
      data: {
        serialized: $("#change_mode").serialize()
        
      },
      
    })
  });
    




</script>











<script>

  //sliders stuff

  var radios = document.getElementsByName('Mode');
  var prev = null;
  var mode = ""
  const sliders_vals = {{ sliders_values| safe }}
  for (var i = 0, length = radios.length; i < length; i++) {
    if (radios[i].checked) {
      mode = radios[i].value;
      number_of_sliders = { "uniform": 10, "musical": 4, "vocal": 4, "ECG": 3 }
      len = number_of_sliders[mode]
      var sliders_div = document.getElementById("sliders");
      var str = ""
      console.log(len)
      for (var i = 0; i < len; i++) {
        const slider_id = "slider" + i

        str = str + '<div class="input col-1"><p class="row range-name">1500Hz <br> 2000Hz</p><input type="range" class="virtical ranger row" id = "slider" name="' + slider_id + '" value=' + sliders_vals[i] + ' min="-20" max="20" onclick="UpdateStatus()" oninput="this.nextElementSibling.value = this.value"/> <output class="slider-output row">' + sliders_vals[i] + '</output></div>'

      }

      sliders_div.innerHTML = str;

      break;
    }
  }

  var rad = document.change_mode.Mode;


  for (var i = 0; i < rad.length; i++) {
    rad[i].addEventListener('change', function () {
      if (this !== prev) {
        prev = this;
      }
      mode = this.value
      number_of_sliders = { "uniform": 10, "musical": 4, "vocal": 4, "ECG": 3 }

      len = number_of_sliders[mode]
      var sliders_div = document.getElementById("sliders");
      var str = ""
      const sliders_vals2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
      for (var i = 0; i < len; i++) {
        const slider_id = "slider" + i
        if (sliders_vals2[i] != null) {
          str = str + '<div class="input col-1"><p class="row range-name">1500Hz <br> 2000Hz</p><input type="range" class="virtical ranger row" id = "slider" name="' + slider_id + '" value=' + sliders_vals2[i] + ' min="-20" max="20" onclick="UpdateStatus()" oninput="this.nextElementSibling.value = this.value"/> <output class="slider-output row">' + sliders_vals2[i] + '</output></div>'
        }
        else {
          str = str + '<div class="input col-1"><p class="row range-name">1500Hz <br> 2000Hz</p><input type="range" class="virtical ranger row" id = "slider" name="' + slider_id + '" value=0 min="-20" max="20" onclick="UpdateStatus()" oninput="this.nextElementSibling.value = this.value"/> <output class="slider-output row">0</output></div>'
        }


      }

      sliders_div.innerHTML = str;
    });
  }


</script>




</html>