

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  color: rgb(234, 232, 232);

}

body {
    padding: 30px 40px;
    position: relative;
    min-height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    }
  .container {
    backdrop-filter: blur(20%);
    backdrop-filter: brightness(80%);
    
    
    
  
    border-radius: 2rem;
  
    
   
   
    padding: 2%;
  }

  #waveform{
    background: rgba(0,0,0,0.8);
    border-radius: 20px 20px 0 0;
    overflow: hidden !important;
    
    margin-left: -16px;    
    }
    #wave-spectrogram{
      margin: 10px auto;
      position: relative;
    }
    #wave-spectrogram canvas{
      left: 0;
    }
  #specLabels{
      position: absolute!important;
  }
  .upload-button{
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: 4px solid #ccc;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
  }
  button{
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: 4px solid #ccc;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
  }
  button:active{
    outline: none;
    border-top: 4px solid #eee;
    border-bottom: 2px solid #777;
  }
  button:focus{
    outline: none;
  }
  
  #sliders{
    display: flex;
  flex-wrap: wrap;
  /* for horizontal aligning of child divs */
  justify-content: center;
  /* for vertical aligning */
  align-items: center;
  }

  .formats {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
}

  .virtical{
    transform: rotate(270deg); 
  }

  .ranger{
    
    -webkit-appearance: none;  /* Override default CSS styles */
     appearance: none;
 
 
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 5%;
  min-height: 20px;
   

    
  }
  .ranger::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 2vw; /* Set a specific slider handle width */
    height: 2vh; /* Slider handle height */
    background: #21235c ; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25%;
    min-height: 20px;
  }
  .ranger::-webkit-slider-thumb:hover {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background: #121237 ; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .sliders {
    width: 92%;
    border-radius: 15px;
    background-color: rgba(0,0,0,.25);
    user-select: none;
  
  }
.input{
  justify-content: center;
}



  .audio-editor .sliders {
    height: 100%;
  }

.slider-output{
  margin-left: 81%;
  margin-top: 120%;
}


  .radios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 12.5%;
    margin-left: 10px;


  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    flex-direction: row;


    border-radius: 15px;

    border: 1px solid hsla(0,0%,100%,0);
    font-size: 14px;
    font-weight: 600;
    color: #000;
    padding-right: 50px;

  }

  .range-name {
    margin-bottom: 130%;
    margin-left: 50%;
    text-align: center;
  }

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}
  

.radios {
  color:white;
}

.radios input {
  margin-top: 10px;
  margin-bottom: 10px;
}


button {

  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
 
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.buttons {
  margin-top: 20px;
}

button {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid hsla(0,0%,100%,0);
  font-size: 14px;
  font-weight: 600;
  color: #000;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  min-width: 100px;
}

button:hover {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  
}

  /* #40738d */




  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


/* 
background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */






.accordion {
  background: #fff !important;
  color: black !important;
  cursor: pointer;
  padding: 18px;
  width: calc(101% + 4px);
  border: none;
  outline: none;
  text-align: center;
  background-image: none;
  transition: 0.5s;
  border-top: none;
  border-radius: 0 0 20px 20px;
  margin-left: -15px;

}

.accordion:hover {
  background-color: #eee !important;
  color: #444 !important;
  background-image: none;
}


/* Style the accordion panel. Note: hidden by default */
.wave-spectrogram {
  padding: 0 18px;
  backdrop-filter: brightness(80%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



button:hover {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  
}


handle.wavesurfer-handle{
  width: 9% !important;
  max-width: 7px !important;
 
}


.visuals{
width: calc(100% - 50px);
margin: auto;
position: relative;
}

handle.wavesurfer-handle.wavesurfer-handle-end:before{
bottom: -17px !important;
top: unset !important;
} 


#waveform wave{
  display: block;
  position: relative;
  user-select: none;
  height: 128px;
  cursor: auto;
  overflow: unset !important;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.zoom{
  margin-right: 5%;
}
.playback{
  margin-left: 5%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}